<!DOCTYPE html>
<html lang="en">
<%- include('./parts/head') %> 
<body>
<%- include('./parts/navbar') %> 
 <br></br>
 <h2>
    <div class="container" >
      <div>
         <div class="col col-12 col-md-6"> 
            <% if(product.image[0] == 'h'){%>
               <img src="<%- product.image %> " height="400" >
               <% }else{ %>
               <img src="https://myonlineshope.herokuapp.com/<%- product.image %>" height="400" >  
               <% } %> 
            <div  class="col col-12 col-md-6">
               <h3><%- product.name %> </h3>
               <h5>Price: <%- product.price %></h5>
               <p><%- product.description %></p>
   
            </div>
            <form action="/cart" method="post">
               <input type="number" name="amount" required class="form-control">
               <input type="hidden" name="name" class="form-control" value="<%- product.name %> ">
               <input type="hidden" name="price" class="form-control" value="<%- product.price %> ">
               <input type="hidden" name="productId" class="form-control" value="<%- product._id %> ">
               <input type="submit" value="Add to cart" class="btn btn-primary">
            </form>
         </div>
         
      </div>
    </div>
 </h2>
    <script>src="/js/jquery.min.js" </script>
    <script>src="/js/popper.min.js" </script>
    <script>src="/js/bootstrap.min.js" </script>
</body>
</html>